.basket {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    .h1 {
        display: flex;
        img {
            width: 32px;
            margin-right: 10px;
        }
    }
    .cleanBasket {
        display: flex;
        align-items: center;
        opacity: .3;
        cursor: pointer;
        transition: opacity .2s;
        img {
            width: 24px;
            margin-right: 5px;
        }
        &:hover {
            opacity: .7;
        }
    }
}

.fullPrice {
    text-align: end;
    margin-top: 70px;
    font-size: 1.3rem;
    span {
        font-weight: bold;
    }
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .back {
        color: #e5e5e5;
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color .2s;
        &:hover {
            color: #fff;
            background-color: #919191;
        }
    }
    .pay {
        background-color: #ff7800;
        color: #fff;
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color .2s;
        &:hover {
            background-color: #ff6600;
        }
    }
}