.root {
    display: flex;
    margin: 20px 0;

    li {
        list-style-type: none;
        user-select: none;
        cursor: pointer;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 1px solid #ff7800;
            border-radius: 50px;
            transition: background-color .1s;
            margin-right: 10px;
            &.active {
                background-color: #ff7800;
                color: #fff;
            }
            &:hover {
                background-color: #ff7800;
                color: #fff;
            }
            
        }
        
    }
    
}