* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 179, 255, 0.077);
  position: relative;
  a {
    text-decoration: none;
    color: #000;
  }
  .wrapper {
    max-width: 1200px;
    margin: 50px auto 0 auto;
    border-radius: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 31px -4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 31px -4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 31px -4px rgba(34, 60, 80, 0.2);
    .overlay {
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.604);
      z-index: 1;
      .cart {
        position: absolute;
        right: 0;
        width: 385px;
        height: 100%;
        background: #fff;
        padding: 30px;
        .cart__title {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          div {
            display: inline-block;
            border: 1px solid #d4d4d4;
            border-radius: 10px;
            padding: 12px;
            margin-left: 0;
            line-height: 0;
            cursor: pointer;
            &:hover {
              img {
                opacity: .8;
              }
            }
            img {
              width: 10px;
              opacity: .6;
              transition: opacity .2s ease-in-out;
            }
          }
        }
        .cart__block {
          overflow: auto;
          height: calc(100% - 200px);
          .cart__elem {
            position: relative;
            display: flex;
            width: 100%;
            padding: 20px;
            border: 1px solid #f0f0f0;
            border-radius: 20px;
            margin-bottom: 20px;
            img {
              width: 20%;
            }
            div {
              margin-left: 20px;
              p {
                font-size: 14px;
              }
              span {
                position: absolute;
                bottom: 20px;
                font-size: 15px;
                font-size: 16px;
                font-weight: 800;
              }
              div {
                position: absolute;
                right: 20px;
                top: 37px;
                border: 1px solid #f0f0f0;
                border-radius: 10px;
                padding: 12px;
                margin-left: 0;
                line-height: 0;
                cursor: pointer;
                &:hover {
                  img {
                    opacity: .8;
                  }
                }
                img {
                  width: 10px;
                  opacity: .3;
                  transition: opacity .2s ease-in-out;
                }
              }
            }
          }
        }
        .cart__order {
          position: absolute;
          bottom: 20px;
          width: calc(100% - 60px);
          .total {
            display: flex;
            margin-bottom: 20px;
            .underline {
              margin-bottom: 5px;
              border-bottom: 1px dashed #cecece;
              margin-left: 5px;
              flex-grow: 1;
            }
            .total__price {
              margin-left: 5px;
              font-weight: 800;
            }
          }
          .cart__btn {
            position: relative;
            background-color: rgb(143, 197, 96);
            padding: 16px;
            text-align: center;
            border-radius: 13px;
            cursor: pointer;
            transition: background-color .2s ease-in-out;
            &:hover {
              background-color: rgb(116, 156, 81);
              img {
                transform: translateX(15px);
              }
            }
            span {
              color: #fff;
              font-weight: 600;
            }
            img {
              position: absolute;
              filter: invert(1);
              width: 20px;
              right: 35px;
              top: 17px;
              transition: transform .2s ease-in-out,;
            }
          }
        }
      }
    }
    header {
      display: flex;
      justify-content: space-between;
      padding: 40px;
      border-bottom: 1px solid #e5e5e5;
      .headerLogo {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: max-content;
        }
        .headerLogo__title {
          margin-left: 20px;
          h2 {
            text-transform: uppercase;
          }
          p {
            opacity: .5;
          }
        }
      }
      .headerList {
        display: flex;
        list-style-type: none;
        align-items: center;
        @media (max-width: 545px) {
          flex-direction: column;
        }
        li {
          display: flex;
          align-items: center;
          margin-left: 10px;
          @media (max-width: 545px) {
            flex-direction: column;
          }
          &:first-child {
            @media (max-width: 545px) {
              margin-bottom: 10px;
            }
          }
          span {
            margin-left: 10px;
          }
          img {
            width: 25px;
            opacity: .5;
          }
        }
        .basket {
          cursor: pointer;
        }
      }
    }
    .content {
      padding: 50px 40px 20px 40px;
      .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        position: relative;
        @media (max-width: 620px) {
          display: flex;
        flex-direction: column;
        align-items: center;
        }

        h1 {
          font-size: 2em;
          @media (max-width: 620px) {
            font-size: 1.5em;
            margin-bottom: 15px;
          }
        }
        div {
          position: relative;
          img {
            position: absolute;
            width: 25px;
            opacity: .1;
            top: 13px;
            left: 10px;
          }
          input {
            width: 250px;
            height: 50px;
            border: 1px solid #f0f0f0;
            border-radius: 15px;
            font-size: 14px;
            padding-left: 47px;
            outline: none;
          }
        }
        .sort {
          position: absolute;
          top: 15px;
          right: 270px;
          font-size: 13px;
          user-select: none;
          &-list {
            color: #ff7800;
            cursor: pointer;
          }

          @media (max-width: 880px) {
            top: -30px;
            right: 8px;
          }

          @media (max-width: 620px) {
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
          }
        }
        .sort-block {
          position: absolute;
          -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.35);
          -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.35);
          border-radius: 7px;
          background-color: #fff;
          right: 270px;
          top: 42px;
          z-index: 1;
          display: none;
          @media (max-width: 880px) {
            right: 8px;
            top: unset;
          }
          @media (max-width: 620px) {
            right: 50%;
            top: unset;
            transform: translateX(50%);
          }
          &__active {
            display: block;
          }
          ul {
            list-style-type: none;
            li {
              padding: 10px 15px;;
              cursor: pointer;
              transition: all .1s;
              &.active {
                background-color: #ffefe1;
                color: #ff881f;
                border-radius: 7px; 
              }
              &:hover {
                background-color: #fcdec4;
                color: #ff7700;
                border-radius: 7px;
              }
            }
          }
        }
      }

      .сategories {
        margin-bottom: 25px;
        ul {
          display: flex;
          li {
            font-size: .9rem;
            background-color: #f7f7f7;
            border-radius: 50px;
            padding: 10px 20px;
            list-style-type: none;
            margin-right: 10px;
            cursor: pointer;
            user-select: none;
            transition: background-color .2s;
            &:hover {
              background-color: #e2e2e2;
            }
            &.active {
              color: #fff;
              background-color: #000;
            }
          }
        }
      }

      .phones {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 40px;

        @media (max-width: 1100px) {
          grid-template-columns: repeat(3, auto);
          justify-content: space-evenly;
        }

        @media (max-width: 860px) {
          grid-template-columns: repeat(2, auto);
          justify-content: space-evenly;
        }

        @media (max-width: 620px) {
          grid-template-columns: repeat(1, auto);
          justify-content: space-evenly;
        }

        .phones__elem {
          position: relative;
          padding: 30px;
          margin-bottom: 35px;
          width: 250px;
          height: 300px;
          border: 1px solid #f0f0f0;
          border-radius: 30px;
          transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
          &:hover {
            box-shadow: 0 20px 30px rgba(0, 0, 0, .06);
            transform: translateY(-10px);
          }
          svg {
            position: absolute;
            width: 22px;
            opacity: .2;
            transition: opacity .3s;
            cursor: pointer;
            &:hover {
              fill: #e33c3c;
              opacity: .6;
            }
          }
          .phones__elem-productImg {
            display: block;
            margin: 0 auto 20px auto;
            max-width: 100%;
            max-height: 50%;
          }
          p {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 400;
            opacity: .9;
          }
          .phones__elem-price {
            position: absolute;
            bottom: 30px;
            width: calc(100% - 60px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
              display: flex;
              flex-direction: column;
              span {
                font-size: 13px;
                opacity: .4;
              }
            }
            img {
              width: 35px;
              height: 35px;
              padding: 10px;
              border-radius: 5px;
              cursor: pointer;
              opacity: .2;
            }
            .addCard {
              background-color: #26851bcf;
              opacity: 1;
            }
            .phones__elem-btnActive {
              background-color: linear-gradient(0deg, #0f9d00, #00ff3c);
            }
          }
        }
      }
    }
  }
}